config/wsdl/PaiementSecuriseService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://securite.service.tpa.cp.finances.gouv.fr/services/mas_securite/contrat_paiement_securise/PaiementSecuriseService" name="PaiementSecuriseService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://securite.service.tpa.cp.finances.gouv.fr/services/mas_securite/contrat_paiement_securise/PaiementSecuriseService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://securite.service.tpa.cp.finances.gouv.fr/services/mas_securite/contrat_paiement_securise/PaiementSecuriseService" schemaLocation="PaiementSecuriseService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://securite.service.tpa.cp.finances.gouv.fr/requete" schemaLocation="PaiementSecuriseService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://securite.service.tpa.cp.finances.gouv.fr/reponse" schemaLocation="PaiementSecuriseService_schema3.xsd"/>
    </xsd:schema>
  </types>
  <message name="creerPaiementSecurise">
    <part name="parameters" element="tns:creerPaiementSecurise"/>
  </message>
  <message name="creerPaiementSecuriseResponse">
    <part name="parameters" element="tns:creerPaiementSecuriseResponse"/>
  </message>
  <message name="FonctionnelleErreur">
    <part name="fault" element="tns:FonctionnelleErreur"/>
  </message>
  <message name="TechDysfonctionnementErreur">
    <part name="fault" element="tns:TechDysfonctionnementErreur"/>
  </message>
  <message name="TechIndisponibiliteErreur">
    <part name="fault" element="tns:TechIndisponibiliteErreur"/>
  </message>
  <message name="TechProtocolaireErreur">
    <part name="fault" element="tns:TechProtocolaireErreur"/>
  </message>
  <message name="recupererDetailPaiementSecurise">
    <part name="parameters" element="tns:recupererDetailPaiementSecurise"/>
  </message>
  <message name="recupererDetailPaiementSecuriseResponse">
    <part name="parameters" element="tns:recupererDetailPaiementSecuriseResponse"/>
  </message>
  <message name="recupererDetailClient">
    <part name="parameters" element="tns:recupererDetailClient"/>
  </message>
  <message name="recupererDetailClientResponse">
    <part name="parameters" element="tns:recupererDetailClientResponse"/>
  </message>
  <portType name="PaiementSecuriseService">
    <operation name="creerPaiementSecurise">
      <input message="tns:creerPaiementSecurise"/>
      <output message="tns:creerPaiementSecuriseResponse"/>
      <fault message="tns:FonctionnelleErreur" name="FonctionnelleErreur"/>
      <fault message="tns:TechDysfonctionnementErreur" name="TechDysfonctionnementErreur"/>
      <fault message="tns:TechIndisponibiliteErreur" name="TechIndisponibiliteErreur"/>
      <fault message="tns:TechProtocolaireErreur" name="TechProtocolaireErreur"/>
    </operation>
    <operation name="recupererDetailPaiementSecurise">
      <input message="tns:recupererDetailPaiementSecurise"/>
      <output message="tns:recupererDetailPaiementSecuriseResponse"/>
      <fault message="tns:FonctionnelleErreur" name="FonctionnelleErreur"/>
      <fault message="tns:TechDysfonctionnementErreur" name="TechDysfonctionnementErreur"/>
      <fault message="tns:TechIndisponibiliteErreur" name="TechIndisponibiliteErreur"/>
      <fault message="tns:TechProtocolaireErreur" name="TechProtocolaireErreur"/>
    </operation>
    <operation name="recupererDetailClient">
      <input message="tns:recupererDetailClient"/>
      <output message="tns:recupererDetailClientResponse"/>
      <fault message="tns:FonctionnelleErreur" name="FonctionnelleErreur"/>
      <fault message="tns:TechDysfonctionnementErreur" name="TechDysfonctionnementErreur"/>
      <fault message="tns:TechIndisponibiliteErreur" name="TechIndisponibiliteErreur"/>
      <fault message="tns:TechProtocolaireErreur" name="TechProtocolaireErreur"/>
    </operation>
  </portType>
  <binding name="PaiementSecuriseServicePortBinding" type="tns:PaiementSecuriseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="creerPaiementSecurise">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FonctionnelleErreur">
        <soap:fault name="FonctionnelleErreur" use="literal"/>
      </fault>
      <fault name="TechDysfonctionnementErreur">
        <soap:fault name="TechDysfonctionnementErreur" use="literal"/>
      </fault>
      <fault name="TechIndisponibiliteErreur">
        <soap:fault name="TechIndisponibiliteErreur" use="literal"/>
      </fault>
      <fault name="TechProtocolaireErreur">
        <soap:fault name="TechProtocolaireErreur" use="literal"/>
      </fault>
    </operation>
    <operation name="recupererDetailPaiementSecurise">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FonctionnelleErreur">
        <soap:fault name="FonctionnelleErreur" use="literal"/>
      </fault>
      <fault name="TechDysfonctionnementErreur">
        <soap:fault name="TechDysfonctionnementErreur" use="literal"/>
      </fault>
      <fault name="TechIndisponibiliteErreur">
        <soap:fault name="TechIndisponibiliteErreur" use="literal"/>
      </fault>
      <fault name="TechProtocolaireErreur">
        <soap:fault name="TechProtocolaireErreur" use="literal"/>
      </fault>
    </operation>
    <operation name="recupererDetailClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FonctionnelleErreur">
        <soap:fault name="FonctionnelleErreur" use="literal"/>
      </fault>
      <fault name="TechDysfonctionnementErreur">
        <soap:fault name="TechDysfonctionnementErreur" use="literal"/>
      </fault>
      <fault name="TechIndisponibiliteErreur">
        <soap:fault name="TechIndisponibiliteErreur" use="literal"/>
      </fault>
      <fault name="TechProtocolaireErreur">
        <soap:fault name="TechProtocolaireErreur" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PaiementSecuriseService">
    <port name="PaiementSecuriseServicePort" binding="tns:PaiementSecuriseServicePortBinding">
      <soap:address location="https://www.tipi.budget.gouv.fr/tpa/services/securite"/>
    </port>
  </service>
</definitions>

